html, body {
  margin: 0;
  padding: 0; 
  font-family: Arial;
  background-color: #AE501D; }

h1 {
  color: #8F4422;
  background-color: #f4a742;
  margin: 1em auto;
  margin-bottom: 0em;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em; }

div {
  .main {
    max-width: 700px;
    margin: 0 auto; }
    .puffin-img {
      width: 35%;
      display: block;
      margin: 0 auto 3em auto;
      @media (max-width: 700px) {
        width: 70%;
      }
    }
    p {
      padding: 2em;
      color: #FFC2A1; }
    aside {
      background: rgba(0, 0, 0, 0.2);
    }
    aside h2 {
      color: #FF8442;
      padding-left: 0.66em;
      font-family: 'Lobster', cursive; }
    aside img {
      position: absolute;
      width: 100px;
      transform: translate(0, -100%);
      filter: invert(1); }
}